#canvas {
    position: fixed;
    height: 100vh;
    width : 100vw;
    left: 0;
}
/* @font-face {
    font-family: myfont;
    src: url(../asset/fonts/WIP_MARKS1_1.otf);
  } */

body {
    /* background-color: palegoldenrod; */
    /* background-color: rgb(0, 68, 52); */
    color: black;
    font-family: "Noto Sans JP";
    text-align: justify;
    letter-spacing: 0.2rem;
    line-height: 1.8rem;
}
h1 {
    font-weight: bold;
}
h2 {
    margin-top: 0;
    font-size: 1.3em;
}
h3 {
    margin-top: 0;
    font-size: 1em;
}
p {
    margin: 20px 0;
}
a {
    /* color: white; */
    color: black;
    mix-blend-mode: difference;
}
li {
    list-style: none;
}
sup {
    font-size: small;
}
header {
    position: fixed;
    top: 0;
    margin-left: 5%;
    margin-top: 2%;
    z-index: 9999;
}
footer {
    position: fixed;
    bottom: 0;
    margin-left: 5%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
}
img {
    max-height: 100%;
    max-width: 100%;
}
.sns_logo {
    /* line-height: 100%; */
    /* padding: 0; */
    height: 20px;
    width: 20px;
  }

.wrapper {
    margin: auto;
    max-width: 1500px;
    /* width: 100%; */
}

.wrapper2 {
    margin: 150px 5% 5% 23%;
    /* width: calc(65%-150px); */
}

.loading {
    position: fixed;
    z-index: 9997;
    background-color: white;
    /* background-color: rgb(202, 173, 138); */
    height: calc(100% - 150px);
    width: calc(70vw);
    max-width: 1050px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px dashed black; */
    border: 1px dashed black;
    font-size: small;
    pointer-events: none;
  }
  .loading p {
    font-size: small;
  }
  
  .loaded {
    opacity: 0;
    /* transition: 0.5s; */
    pointer-events: none;
  }

.flex {
    display: flex;
}

.container1, .container2, .container3, .container4, .container5 {
    gap: 10px;
    padding: 0;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    /* justify-content:center; */
}

.item1, .item2, .item3, .item4, .item5 {
    /* border: solid #000000 1px;     */
    width: 25svh;
    min-width: 25svh;
    height: 25svh;
    position: relative;
    font-size: small;
    z-index: 9997;
    
}
.item-name1, .item-name2, .item-name3, .item-name4, .item-name5 {
    margin: 0 20px;
    position: absolute;

}
.js-base {
    display: none;
  }

.card {
    display: flex;
    align-items: center;
    gap: 50px;
    min-height: calc(90svh - 150px);
}
.imgwindow {
    width: 60%;
}
/* .smallimg {
    margin-top: 30px;
    height: 120px;
    width: 100%;
    display: flex;
    overflow-x: scroll;
}
.smallimg img{
    margin-right: 10px;
} */
.txtwindow {
    width: 40%;
}
.txtwindow p {
    margin: 0;
}


.bl_imgSwitcher {
  max-width: 900px;
  margin-inline: auto;
}

.bl_imgSwitcher_main {
    aspect-ratio: 1;
  
    img {
      width: 100%;
      height: 100%;
      object-fit:contain;
    }
  }
.bl_imgSwitcher_thumb {
display: flex;
gap: 0 1%;
margin-top: 5%;
}

.bl_imgSwitcher_btn {
  width: 25%;
  overflow: hidden;
  /* border-radius: 20px; */
  border: none;
  background: none;
  padding: 10px;
  position: relative;

  &::before {
    content: "";
    border-radius: inherit;
    position: absolute;
    inset: 0;
    z-index: 10;
    transition: background-color .4s;
  }

  img {
    /* width: 100%; */
    aspect-ratio: 1;
    object-fit: contain;
  }
}

.bl_imgSwitcher_btn.is_active::before {
  border: 1px dashed black;
}


/* .right {
    position: absolute;
    right: 0;
} */

.right50 {
    display: flex;
    justify-content:right;
    align-items: center;
}
.left50 {
    display: flex;
    justify-content:left;
}
.dwgs {
    width: 100%;
    display: flex;
    justify-content: right;
}
.dwgs img {
    min-width: 0;
    max-height: 50vh;
    object-fit: contain;
}

@media (max-width: 700px) {
    body {
        font-size: small;
        letter-spacing: 0.1rem;
        line-height: 1.5rem;
    }
    .right50 {
        flex-direction: column;
    }
    .dwgs {
        flex-direction: column;
    }
    .card {
        flex-direction: column;
    }
    .imgwindow, .txtwindow {
        width: 100%;
    }

}


